
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QuickBlox chat code sample</title>
  <link rel="shortcut icon" href="https://quickblox.com/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="./../quickblox.min.js" defer></script>
  <script src="https://unpkg.com/navigo@4.3.6/lib/navigo.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" defer></script>


</head>
<body>
<router-outlet></router-outlet>

</body>






